.multi-bg{
    background: linear-gradient(45deg, rgb(4, 19, 136),rgb(255, 0, 0));
}
.cal-bg{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(243, 242, 242, 0.7);
}
.cal-bg .button-bg{
   background: rgb(255, 255, 255);
}
.op-bg{
    background: rgb(1, 93, 32);
    border-radius: 50%;
}